<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gula.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
				<key>dateExpires</key>
				<string>18/03/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDatabase.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>camera.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_device_locale.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_pay.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>stripe_native.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59391FCD980E56041DC788F9A480176D29F2323C</string>
						<key>dateExpires</key>
						<string>18/03/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>stripe_payment.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LAS7Q6TSJM</string>
						<key>name</key>
						<string>Julio Quintero</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LAS7Q6TSJM.kick.JQuintero.CortiFood</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>LAS7Q6TSJM</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fef46cf6-77d0-48e8-97ac-f3fbb0dfb3d7</string>
				<key>dateExpires</key>
				<string>09/09/22</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: kick.JQuintero.CortiFood</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LAS7Q6TSJM</string>
				<key>name</key>
				<string>Julio Quintero</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
